<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CntlmUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CntlmUI.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Domain" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Proxy" serializeAs="String">
                <value />
            </setting>
            <setting name="NetBIOSName" serializeAs="String">
                <value />
            </setting>
            <setting name="Listen" serializeAs="String">
                <value>127.0.0.1:3128</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Autoconnect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AuthMode" serializeAs="String">
                <value />
            </setting>
        </CntlmUI.Properties.Settings>
    </userSettings>
</configuration>